# Create 4 jobs using different machines [windows, ubuntu, mac, choose whatever]
# This job should be printing date on each run
# Job 4 should be dependent to job 1, 2, 3

name: Challenge 1 - This should only triggered when there is push on dev branch

on:
  push:
    branches:
      - dev

jobs:
  ubuntu-job:
    name: Print Date using Ubuntu Machine
    runs-on: ubuntu-latest
    steps:
      - name: Checkout actions
        uses: actions/checkout@v2
        run: |
          date "+%H:%M:%S   %d/%m/%y"
          echo "ubuntu latest"

    windows-job:
      name: Print date using Windows machine
      runs-on: windows-latest
      steps:
        - name: Checkout actions on windows
          uses: actions/checkout@v2
          run: |
            Get-Date
            echo "Using windows latest"

    mac-job:
      name: print date using Mac machine
      runs-on: macos-latest
      steps:
        - name: Checkout actions on mac
          uses: actions/checkout@v2
          run: |
            date
            echo "Using mac latest"

    ubuntu-20:
      # This job is dependent to all 3 jobs above
      needs: [ubuntu-job, windows-job, mac-job]
      name: Print date using ubuntu@20.04
      runs-on: ubuntu-20.04
      steps:
        - name: Checkout actions using ubuntu v20.04
          uses: actions/checkout@v2
          run: |
            date "+%H:%M:%S   %d/%m/%y"
            echo "ubuntu version 20.04"
