name: Create File and Commit

on:
  push:
    branches:
      - main

jobs:
  create-file:
    name: Create file
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Check node version
        run: node --version

      - name: Create new File
        run: node ./hello.js

      - name: Config and Commit
        run: |
          git config --global user.email "abssneakers@gmail.com"
          git config --global user.name "Aroyan"
          git add . && git commit -m "New file added"
