name: First

# This job will run on push event on main branch and
# run on pull request event on main and dev branches
on:
  # push:
  #   branches: ["main"]

  pull_request:
    branches:
      - main
      - dev

jobs:
  ubuntu-job:
    name: First Job using Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Step one [Ubuntu]
        uses: actions/checkout@v2

      - name: Step two [Ubuntu]
        run: env | sort

  windows-job:
    name: Second Job Windows
    runs-on: windows-latest
    steps:
      - name: Step one [Windows]
        uses: actions/checkout@v2

      - name: Step two [Windows]
        run: "Get-ChildItem Env: | Sort-Object Name"
