name: "Using Secrets"

env:
  base_url: ${{ vars.BASE_URL }}

on:
  push:
    branches:
      - main

jobs:
  Using-Secrets:
    name: Using GitHub Actions Secret Variables
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Print Secrets [Just for testing purposes]
        run: |
          echo "Getting the Secret Variables"
          echo ${{ secrets.APP_NAME }}

      - name: Is it work?
        run: echo "I think it is"

      - name: Using ENV ${{ vars.BASE_URL }}
        run: |
          ls
          pwd
          echo ${{ vars.BASE_URL }}

      - name: Show all available ENV ${{ env.BASE_URL.BASE_URL }}
        run: |
          echo ${{ env.BASE_URL }}
